<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user.email %>!</h1>
    <p>
      <%= @invited_by.email %> has invited you on <%= root_url %> to join the project <%= @project.name %>, you can accept it through the link below.<br/>
    </p>
    <p>
      <%= link_to 'Accept invitation', accept_project_url(@project) %>
    </p>
    <p>If you don't want to accept the invitation, please ignore this email.</p>
  </body>
</html>