<div class="row-fluid">
   <div class="span12">
      <div class="widget-box">
         <div class="widget-title">
            <span class="icon"><i class="icon-file"></i></span>
            <h5>Invitations</h5>
            <span title="<%= @project_invitations.size%> total invitations" class="label label-info tip-left"><%= @project_invitations.size%></span>
         </div>
         <div class="widget-content nopadding">
            <ul class="recent-posts">
               <% @project_invitations.each do |project_invitation|%>
               <li>
                  <div class="article-post">

                     <span class="user-info" style="font-weight:bold">Project Name: </span>
                     <span><%= project_invitation.project.name%></span>
                     <%= link_to accept_project_path(project_invitation.project), :method => :put, :class => "btn btn-success btn-mini" do %>
                       Accept
                     <% end %>
                     <%= link_to decline_project_path(project_invitation.project), :method => :delete, :class => "btn btn-danger btn-mini" do %>
                       Decline
                     <% end %>
                  </div>
               </li>
               <% end %>
            </ul>
         </div>
      </div>
   </div>
</div>
