<%=render :partial => "shared/header_container"%>
<div id="breadcrumb">
    <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <%= link_to 'Projects', projects_path, :class => "current"  %>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
    </div>
    <div class="span2">
      <%= link_to new_project_path do  %>
      <button class="btn btn-success">Create New Project</button>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon">
            <i class="icon-th"></i>
          </span>
          <h5>Projects</h5>
        </div>
        <div class="widget-content nopadding">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Project name</th>
                <th>Key</th>
                <th>Open</th>
                <th>Total</th>
                <th></th>
                <th></th>
                 <th></th>
                 <th></th>
              </tr>
            </thead>
            <% @projects.each do |project| %>
              <tbody>
                <tr>
                  <td width="40%"><%= project.name %></td>
                  <td width="20%"><b><%= project.key %></b></td>
                  <td width="10%"><b><%= project.project_errors.active.size %></b></td>
                  <td width="10%"><b><%= project.project_errors.size %></b></td>
                  <td width="10%">
                    <%= link_to project_path(project) do %>
                      <button class="btn btn-mini"><i class="icon-eye-open"></i> Settings</button>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to exception_path(project) do %>
                      <button class="btn btn-danger btn-mini">Exceptions</button>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_project_path(project) do %>
                      <button class="btn btn-mini btn-primary">Edit</button>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to project, confirm: 'Are you sure?', method: :delete  do %>
                      <button class="btn btn-danger btn-mini">Destroy</button>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

