<div class="row-fluid"> 
  <div class="span12">
    <div class="widget-box widget-chat">
      <div class="widget-title">
        <span class="icon">
          <i class="icon-comment"></i>
        </span>
        <h5>Chat</h5>
      </div>
      <div class="widget-content nopadding">
        <div class="chat-content panel-left" id="chat-box">
          <b>Loading chat...</b></br>
<img width="16" height="11" style="margin:0 0 3px 5px" src="data:image/gif;base64,R0lGODlhEAALAPQAAP///z2LqeLt8dvp7u7090GNqz2LqV+fuJ/F1IW2ycrf51aatHWswaXJ14i4ys3h6FmctUCMqniuw+vz9eHs8fb5+meku+Tu8vT4+cfd5bbT3tbm7PH2+AAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA" alt="...">                
        </div>
        <div class="chat-users panel-right">
          <div class="panel-title">
            <h5>
              Online Users
              <span style="float:right">
                <%= link_to settings_project_path(@project) do %>
                  <button class="btn btn-mini">Invite</button>
                <% end %>
              </span>
            </h5>
          </div>
          <div class="panel-content nopadding">
            <ul class="contact-list" id="project_users_list">
                  <li>
                    <a href="<%=project_camp_project_path(@project)%>">
                      <strong><span>Project Team Chat</span></strong>
                    </a>
                  </li>
              <% @project.users.each do |user|%>
                <% if params[:user_id] == user.id.to_s or current_user.id.to_s ==  user.id.to_s %>
                  <li>
                    <a href="javascript: void(0);">
                      <img alt="" src="<%=avatar_url(user)%>" /> <span><%=user.name%></span>
                    </a>
                    <span id="chat_user_<%=user.id.to_s%>" data-userid="<%=user.id.to_s%>" class="msg-count badge"></span>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <div class="panel-title" style="margin-top:30px"><h5>File Upload</h5></div>
          <div class="panel-content nopadding">
          
          
          
            <%= form_for ChatFile.new, :html => {:multipart => true, :remote => true} do |f| %>
              <p>
                <%= f.label :filepicker_url, "Upload Your File:" %>
                <%= f.filepicker_field :filepicker_url %>
              </p>
              <p><%= f.submit "Upload" %></p>
           <% end %>

           <div id="error">
           </div>
         </div>
          
          
          
          
          
        </div>
      </div>
    </div>
  </div>
</div>
<link type="text/css" rel="stylesheet" media="screen" href="<%=Settings.rdf_comment.asset_host%>/assets/api.css">

<script type="text/javascript" class="juvia" >
$('#chat_file_image').attr('size', 10);
$(document).ready(function($) {

  var options = {
    container   : '#chat-box',
    site_key    : '<%=Settings.rdf_comment.site_key%>',
    topic_key   : '<%= @project.id.to_s + "user_chat" + params[:user_id] %>',
    topic_url   : '<%= @project.name %>',
    topic_title : document.title || '<%= @project.name %>',
    include_base: !window.Juvia,
    include_css : !window.Juvia,
    restrict_comment_length : 'false',
    use_my_user : 'true',
    user_logged_in : 'true',
    logged_in_message : 'Welcome to Batbugger',
    author_key  : '123456',
    user_image  : '<%=avatar_url(current_user)%>',
    user_email  :  '<%=current_user.email%>',
    username    :  '<%=current_user.name%>',
    user_id     :  '<%=current_user.id.to_s%>',
    auth_token  : '123456789'
  };

  function makeQueryString(options) {
    var key, params = [];
    for (key in options) {
      params.push(
        encodeURIComponent(key) +
        '=' +
        encodeURIComponent(options[key]));
    }
    return params.join('&');
  }

  function makeApiUrl(options) {
    // Makes sure that each call generates a unique URL, otherwise
    // the browser may not actually perform the request.
    if (!('_juviaRequestCounter' in window)) {
      window._juviaRequestCounter = 0;
    }
    var result =
      '<%=Settings.rdf_comment.url%>/api/comments/show_topic.js' +
      '?_c=' + window._juviaRequestCounter +
      '&' + makeQueryString(options);
    window._juviaRequestCounter++;
    return result;
  }

  function loadCommentScript(src, focusCurrentHash){
    var s       = document.createElement('script');
    s.async     = true;
    s.type      = 'text/javascript';
    s.className = 'juvia';
    s.src       = makeApiUrl(options);
    (document.getElementsByTagName('head')[0] ||
     document.getElementsByTagName('body')[0]).appendChild(s);
     s.onload = focusCurrentHash;
     s.onreadystatechange = function() {
       if (this.readyState == 'complete') {
         focusCurrentHash;
       }
    }
  }
  
  loadCommentScript('src', focusCurrentHash);

  function focusCurrentHash(){ 
  }
  
});
</script>
<style>
#content{
  padding-bottom: 0px;
}
.content-header-override {
    height: 0px !important;
}
#project_users_list .msg-count {
  height: 3px;
}
</style>
