<%=render :partial => "shared/header_container"%>
<div id="breadcrumb">
    <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <%= link_to 'Projects', projects_path  %>
    <%= link_to 'Exceptions', exception_path(@project), :class => "current"  %>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
    </div>
    <div class="span2">
      <%= link_to project_path(@project) do %>
        <button class="btn"><i class="icon-wrench"></i> Project Settings</button>
      <% end %>
    </div>
    <div class="span2">
      <div class="btn-group">
        <% if params[:action] == "resolved" %>
          <button class="btn">Resolved</button>
        <% elsif params[:action] == "exceptions" %>
          <button class="btn">Active</button>
        <% else %>
          <button class="btn">All Errors</button>
        <% end %>
        <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><%= link_to 'All Errors', all_exception_path(@project)  %></li>
          <li><%= link_to 'Active', exception_path(@project)  %></li>
          <li><%= link_to 'Resolved', resolved_path(@project)  %></li>
        </ul>
      </div><!-- /btn-group -->
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon">
            <i class="icon-th"></i>
          </span>
          <h5><%=@project.name %> / Unresolved errors</h5>
          <div class="buttons hide" id="delete-comments">
            <a href="#deleteError" data-toggle="modal" class="btn btn-danger"><i class="icon-remove"></i> Delete Permanently</a>
          </div>

          <div id="deleteError" class="modal hide">
            <div class="modal-header">
              <button data-dismiss="modal" class="close" type="button">×</button>
              <h3>Alert modal</h3>
            </div>
            <div class="modal-body">
              <p>Are you sure, you want delete permanently?</p>
            </div>
            <div class="modal-footer">
              <a data-dismiss="modal" class="btn btn-primary" href="<%=delete_permanently_path(@project)%>" id="delete_it">Confirm</a>
              <a data-dismiss="modal" class="btn" href="#">Cancel</a>
            </div>
          </div>

        </div>
        <div class="widget-content nopadding">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Error</th>
                <th>Status</th>
                <th>Times</th>
                <th>Last Seen</th>
                <th>Operation</th>
              </tr>
            </thead>
            <% @exceptions.each do |exception| %>
              <tbody>
                <tr>
                  <td>
                    <input type="checkbox" name="exception[]" value="<%=exception.id%>"/>
                  </td>
                  <td width="60%" >
                    <error-message url="<%=error_trace_path(:project_id => exception.project.id, :error_id => exception.id)%>" style="cursor:pointer;">
                      <i class="icon icon-arrow-right"></i>
                      <span>
                        <b><%= exception.title %></b><br/>
                        <%= exception.desc %>
                      </span>
                    </error-message>
                  </td>
                  <td>
                    <% if exception.status.active? %>
                      <span class="label label-important">active</span>
                    <% else %>
                      <span class="label label-success">resolved</span>
                    <% end %>
                  </td>
                  <td>
                    <i class="icon icon-signal"></i>
                    <span><%= exception.count %></span>
                  </td>
                  <td>
                    <%= distance_of_time_in_words(Time.now, (exception.generated_at || exception.updated_at)) %> ago
                  </td>
                  <td>
                    <% if exception.status.active? %>
                      <%= link_to update_resolved_path(@project, exception), :method => :put do %>
                        <button class="btn btn-primary"><i class="icon-edit icon-white"></i> Close it!</button>
                      <% end %>
                    <% elsif exception.status.resolved? %>
                       <%= link_to update_unresolved_path(@project, exception), :method => :put do %>
                        <button class="btn btn"><i class="icon-edit icon-white"></i> Re-open</button>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  $("error-message").click(
    function(){
      window.location = $(this).attr("url");
    });
  $('input[type=checkbox]').click(function() {
    if($(this).is(':checked')) {
      $('#hiddne').html($(this).val());
    }
    var boxes = $('input[name="exception[]"]:checked');
    var total_checked_checkbox = $(boxes).size();
    if(total_checked_checkbox > 0){
      $("#delete-comments").show();
    }else{
      $("#delete-comments").hide();
    }
  });
  $("#delete_it").click(function(){
    var selected = new Array();
    $('input:checkbox[name="exception[]"]:checked').each(function() {
      selected.push($(this).val());
    });
    window.location = this.href + "?error_ids=" + selected;
  });
<% end %>

