<div id="content-header">
  <h1>Your Profile</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="span2"></div>
    <div class="span8">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon">
            <i class="icon-user"></i>
          </span>
          <h5><%= @auction_admin.first_name.capitalize + " " +@auction_admin.last_name.capitalize %></h5>
        </div>
        <div class="widget-content">
          <div class="row row-size">
            <div class="span2 offset1" style="text-align:left">
              <span style="font-weight:bold">Username</span>
            </div>
            <div class="span2">
              <%= @auction_admin.username %>
            </div>
          </div>
          <div class="row row-size">
            <div class="span2 offset1" style="text-align:left">
              <span style="font-weight:bold">Email</span>
            </div>
            <div class="span2">
              <%= @auction_admin.email %>
            </div>
          </div>
          <div class="row row-size">
            <div class="span2 offset1" style="text-align:left">
              <span style="font-weight:bold">Phone Number</span>
            </div>
            <div class="span2">
              <%= @auction_admin.phone_number %>
            </div>
          </div>
          <div class="row row-size">
            <div class="span2 offset1" style="text-align:left">
              <span style="font-weight:bold">Address</span>
            </div>
            <div class="span2">
              <%= @auction_admin.address %>
            </div>
          </div>
          <div class="row row-size">
            <div class="span2 offset1" style="text-align:left">
              <span style="font-weight:bold">City/Town</span>
            </div>
            <div class="span2">
              <%= @auction_admin.city %>
            </div>
          </div>
          <div class="row row-size">
            <div class="span2 offset1" style="text-align:left">
              <span style="font-weight:bold">State/Province</span>
            </div>
            <div class="span2">
              <%= @auction_admin.state %>
            </div>
          </div>
          <div class="row row-size">
            <div class="span2 offset1" style="text-align:left">
              <span style="font-weight:bold">Zip Code</span>
            </div>
            <div class="span2">
              <%= @auction_admin.zip_code%>
            </div>
          </div>
          <div class="row row-size">
            <div class="span2 offset1" style="text-align:left">
              <span style="font-weight:bold">Country</span>
            </div>
            <div class="span2">
              <%= @auction_admin.country %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span3"></div>
  </div>
</div>
