<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@project.name} - " if @project %><%= "BatBugger" %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "auction_admin_application", :media => "all" %>
  <%= stylesheet_link_tag :project_task %>
  <%= javascript_include_tag :project_task %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    I18n.fallbacks = true;
  </script>
</head>
<body>
  <%= render :partial => "layouts/header" %>
  <div id="content">
      <div id="content-header" class="content-header-override">
        <%= yield :header %>
      <div id="breadcrumb">
        <%= link_to settings_project_path(@project) do %>
          <h4> <%= @project.name %></h4>
        <% end %>
        <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <%= link_to 'Projects', projects_path %>
        <%= link_to 'Tracker', project_path(@project) , :class => "current"  %>
      </div>
      </div>
      
      <div id="title_bar">
        <%= yield :title_bar %>
      </div>
      <div id="main">
        <%= show_messages %>

        <%= yield %>
      </div>
    </div>
</body>
</html>

